receivers:
  otlp:
    protocols:
      http:
        endpoint: 0.0.0.0:4318
      grpc:
        endpoint: 0.0.0.0:4317

processors:
  batch:
    timeout: 5s
    send_batch_size: 1000
  
  memory_limiter:
    check_interval: 1s
    limit_mib: 512
    spike_limit_mib: 128

  resource:
    attributes:
      - key: collector.name
        value: obsera-collector
        action: upsert
      - key: loki.resource.labels
        value: tenant_id
        action: upsert




exporters:
  # Traces to Tempo
  otlphttp/tempo:
    endpoint: http://tempo:4318
    tls:
      insecure: true

  # Logs to Loki via OTLP
  otlphttp/loki:
    endpoint: http://loki:3100/otlp
    tls:
      insecure: true
    headers:
      X-Scope-OrgID: "fake"

    
  # Metrics exposed for Prometheus scraping
  prometheus:
    endpoint: "0.0.0.0:8889"
    resource_to_telemetry_conversion:
      enabled: true

  # Debug output
  debug:
    verbosity: basic

extensions:
  health_check:
    endpoint: 0.0.0.0:13133

service:
  extensions: [health_check]
  
  pipelines:
    traces:
      receivers: [otlp]
      processors: [memory_limiter, batch, resource]
      exporters: [otlphttp/tempo]
    
    logs:
      receivers: [otlp]
      processors: [memory_limiter, batch, resource]
      exporters: [otlphttp/loki]
    
    metrics:
      receivers: [otlp]
      processors: [memory_limiter, batch, resource]
      exporters: [prometheus, debug]

  telemetry:
    logs:
      level: info
